.image_collection {
    overflow: hidden;
}

.image_collection img {
    float: left;
    margin: 2px;
}

.video_collection {
    overflow: hidden;
}

.video_collection img {
    float: left;
    margin: 2px;
}
